{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/haberler.css"%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fjalla+One&family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container-fluid" style="background-color: #F7F9FE;">
         <header>
            <nav class="navbar navbar-expand-lg navbar-inverse">
                <a class="navbar-brand" href="http://127.0.0.1:8000/" style="background-color: #F7F9FE;">
                    <img src="{% static "/img/output-onlinepngtools.png "%}" alt="Logo"
                        style="width: 200px ; height: 10rem; background-color: #F7F9FE;padding-top:20px" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars" style="background-color:#F7F9FE ; z-index: 1; color:blue"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'haberler' %}">
                                <i class="far fa-newspaper"></i> Haberler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'veriler' %}">
                                <i class="fab fa-creative-commons-sampling-plus"></i> Canlı veriler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'neleryapmaliyiz' %}">
                                <i class="fas fa-user-md"></i> Neler Yapmalıyız</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sss' %}">
                            <i class="fas fa-question"></i> S.S.S</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'hakkinda' %}">
                                <i class="fas fa-hospital-symbol"></i> Covid-19 Hakkında</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <hr class="hrstyle">
        <div height="100vh" style="background-image: url({%  static "img/shape-a.png" %});">
            <div class="row">
                <div class="col-md-2">
                        
                </div>
                <div class="col-md-9 col-12">
                    <h3 style="font-family: 'Playfair Display', serif; color:#0894D1; ">Korona Hakkında </h3>
                    <h1 style="font-family: 'Fjalla One', sans-serif; color:#154870;" >KORONA HAKKINDA Covid-19</h1>
                    <p  style="font-family: 'Balsamiq Sans';">COVİD-19, akciğerlerinizi ve hava yollarınızı etkileyebilecek yeni bir hastalıktır. Buna coronavirus adı verilen bir virüs neden oldu. Aralık 2019'da Wuhan, Hubei, Çin'de keşfedildi. Yaygın enfeksiyon belirtileri arasında solunum semptomları, ateş, öksürük, nefes darlığı ve solunum güçlüğü bulunur. Daha ciddi vakalarda, enfeksiyon pnömoniye, şiddetli akut solunum yolu sendromuna, böbrek yetmezliğine ve hatta ölüme neden olabilir. Enfeksiyon yayılmasını önlemek için standart öneriler arasında düzenli el yıkama, öksürme ve hapşırma sırasında ağız ve burun kaplama, et ve yumurta iyice pişirilir. Öksürme ve hapşırma gibi solunum yolu hastalığı belirtileri gösteren herkesle yakın temastan kaçının.</p>
                    <div class="row">
                        <div class="col-md-1 col-1"></div>
                        <div class="col-md-10 col-10">
                            <div style=" display: flex;
                            justify-content: center;
                            align-items: center;">
                            <img src="{% static "img/—Pngtree—thank you doctor and nurses_5352502.png"%}" width="50%" height="480px">
                            
                        
                        </div>
                        </div>
                        <div class="col-md-1 col-1"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
       
        <div>
             <footer style="background-image : url({% static "img/shape-a.png" %}">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <h3>Site Haritası</h3>
                      <ul class="list-unstyled three-column">
                        <li><a href="http://127.0.0.1:8000/">Anasayfa</a></li>
                        <li><a href="{% url 'haberler' %}">Haberler</a></li>
                        <li><a href="{% url 'veriler' %}">Canlı Veriler</a></li>
                        <li><a href="{% url 'neleryapmaliyiz' %}">Neler Yapmalıyız</a></li>
                        <li><a href="{% url 'sss' %}">S.S.S</a></li>
                        <li><a href="{% url 'hakkinda' %}">Covid-19 Hakkında</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-12">
                        <h3>Detaylı bilgi Kaynakları</h3>
                        <ul class="list-unstyled three-column">
                            <li><pre><img src="{% static "img/covi19.png" %}" width="150px" height="48px" padding-left="100px"> <a href="https://covid19.saglik.gov.tr/">Sağlık Bakanlığı</a></li>
                            <li><img src="{% static "img/World_Health_Organization_logo_logotype.png" %}" width="150px" height="48px"> <a href="https://www.who.int/">Dünya Sağlık Örgütü</a></li>
                          </ul>
                      </div>

                    </div>
                </div>
                <div class="copyright text-center">
                  Copyright &copy; 2020 <span>Uğur Bayram</span>
                </div>
              </div>
                </div>
              </footer>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="{% static "haber.js" %}" type="text/javascript"></script>
</body>

</html>