nav {
    background-color: #F7F9FE;
}
nav ul li {
    text-decoration: none;
    display: inline-block;
    padding: 16px 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 22px;
}
nav ul li a:hover{
    text-decoration: none;
    font-size: 22px;
    color :#50658E ;
}
.hrstyle{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    border: 2px solid  #FE6775;
  }
  .card > .card-inner {
    padding:10px;
  }
  .card .header h2, h3 {
    margin-bottom: 0px;
    margin-top:0px;
  }
  .card .header {
    margin-bottom:5px;
  }
  .card img{
    width:100%;
  }


footer {
    background:#151C2E;
    background-image: url(img/shape-a.png);
    color: #aaa;
    
  }
  
  footer a {
    font-family: 'Trebuchet MS';
    font-size : 18px;
    color: #aaa;
    list-style: none;
    text-decoration: none;
  }
  
  footer a:hover {
    font-family: 'Trebuchet MS';
    
    color: #fff;
    text-decoration: none;
  }
  
  footer h3 {
   color: #0894d1;
    letter-spacing: 1px;
    margin: 10px 0 10px;
  }
  
  footer .three-column {
   overflow: hidden;
  }
  
  footer .three-column li{
    
    padding: 5px 0;
  }

  
  footer .copyright {
    padding: 15px 0;
    background: #151C2E;
    margin-top: 20px;
    font-size: 15px;
  }
  
  footer .copyright span {
    color: #0894d1;
  }